<!DOCTYPE html>
<html>	
    
<div class="container">
<div class="row">
        <div class="grid invoice">
            <div class="grid-body">
                <div class="invoice-title">
                    <div class="row">
                        <h2>Your ticket itinerary<br>
                    </div>
                </div>
                <hr>
                <div class="row">
                        <h3>TICKET SUMMARY</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr class="line">
                                    <td><strong>Airline Name</strong></td>
                                    <td class="text-center"><strong>From</strong></td>
                                    <td class="text-right"><strong>To</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Virgin Airline</td>
                                    <td>Newark Ineternational airport<br />start time</td>
                                    <td>Los Angels International airport<br />estimated arrival time</td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-right"><strong>Meal</strong></td>
                                    <td class="text-right"><strong>In plane meal for purchase</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-right"><strong>Price</strong></td>
                                    <td class="text-right"><strong>$200</strong></td>
                                </tr>
                            </tbody>
                        </table>                                 
                </div>
            </div>
        </div>
    </div>
</div>
</html>
