body {
    background: #eee;
    font-family: Arial, Cambria, "Times New Roman", Times, serif;
    font-size: 50pt;
    margin-top:20px;
}

.invoice {
    padding: 30px;
}

.invoice .table tr.line {
	border-bottom: 1px solid #ccc;
}

.invoice .table{
	width: 100%;
	font-size: 40pt;
}

.invoice .table td {
	text-align: center;
	width: 25%;
	border: none;
}


h1 {
    font-size: 80pt;
}

h2{
	font-size: 70pt;
}

h3{
	font-size: 50pt;
}
