body {
    background: #FEFEFE;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 50pt;
    margin: auto;
}

h1 {
    font-size: 80pt;
}

h2{
	font-size: 70pt;
}

h3{
	font-size: 50pt;
}