$body-background: #FFFFFF;
$primary-color: #333;

$primary-font-size: 20pt;
$p-font-size: 12pt;

* {
    box-sizing: border-box;
}

body{
    background-color: #333;
    background-image: url(/public/css/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.panel {
    background: rgba(0, 0, 0, 0.5); 
    color: #FFFFFF;
    border: none;
    box-shadow: none;
}

legend, h1, .listInfo, help {
    color: #FFFFFF;
}

.searchPanel {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

p {
    font-size: $p-font-size;
}

a {
    color: #c7c7c7;
    text-decoration: underline;  
}